Repository bitEliz/website: changes, and which lint-staged commands are due for each by the changed paths.
All: sort-package-json, prettier --write

.lintstagedrc:

{
  "package.json": "sort-package-json",
  "*.{js,vue,json,yaml,scss,md}": [
    "prettier --write"
  ],
  "*.ts?(x)": [
    "eslint",
    "prettier --parser=typescript --write"
  ]
}

chore: ignore dotenv file
  .gitignore
  packages/core/.env
  packages/core/nuxt.config.ts
  packages/core/src/components/blog/header.vue
  packages/core/src/components/blog/list-item.vue
Due: prettier --write

chore: clean workspace
  docker/compose.yaml
  packages/core/nuxt.config.ts
  packages/core/src/composables/breakpoints.ts
  packages/core/src/composables/index.ts
  packages/core/src/composables/mediaQuery.ts
Due: prettier --write

chore(md): rename markup to markdown
  packages/core/src/components/blog/header.vue
  packages/core/src/components/markdown/index.vue
  packages/core/src/components/markup/index.ts
  packages/core/src/components/resume/profile.vue
  packages/core/src/components/resume/project-gallery-item.vue
  packages/core/src/misc/dark-mode.ts
  packages/core/src/pages/blog/[id].vue
  packages/core/src/pages/static/pure-md-file.vue
Due: prettier --write

chore(fluent): move models into multiple files and update usage
  packages/core/src/components/blog/header.vue
  packages/core/src/components/blog/list-item.vue
  packages/core/src/components/resume/exp-gallery.vue
  packages/core/src/components/resume/profile.vue
  packages/core/src/components/resume/project-gallery.vue
  packages/core/src/pages/blog/[id].vue
  packages/core/src/pages/blog/index.vue
  packages/core/src/pages/resume.vue
  packages/core/src/server/.gitkeep
  packages/core/src/types/blog.ts
  packages/core/src/types/fluent/blog.ts
  packages/core/src/types/fluent/education.ts
  packages/core/src/types/fluent/experience.ts
  packages/core/src/types/fluent/identifiable.ts
  packages/core/src/types/fluent/index.ts
  packages/core/src/types/fluent/project.ts
  packages/core/src/types/fluent/resume.ts
  packages/core/src/types/fluent/skill.ts
  packages/core/src/types/fluent/sns.ts
  packages/core/src/types/fluent/user.ts
Due: prettier --write

feat(api): server apis
  packages/core/nuxt.config.ts
  packages/core/src/pages/blog/[id]/index.vue
  packages/core/src/pages/blog/index.vue
  packages/core/src/pages/resume.vue
  packages/core/src/server/api/_blog.ts
  packages/core/src/server/api/_resume.ts
  packages/core/src/server/api/blog/[id].ts
  packages/core/src/server/api/users/[id].ts
  packages/core/src/server/api/users/[uid]/blog/index.ts
  packages/core/src/server/api/users/[uid]/index.ts
  packages/core/src/utils/darkMode.ts
  packages/core/src/utils/index.ts
  packages/core/src/utils/resolveApiUrl.ts
Due: prettier --write

chore: update typescript to latest
  package.json
  packages/core/package.json
  pnpm-lock.yaml
Due: sort-package-json, prettier --write

feat: support serve script
  package.json
  packages/core/package.json
Due: sort-package-json, prettier --write

chore: update scss processing
  packages/core/nuxt.config.ts
  packages/core/src/_assets/styles/_preprocess.bootstrap.scss
  packages/core/src/_assets/styles/bootstrap.scss
  packages/core/src/assets/styles/bootstrap.scss
Due: prettier --write

refactor: replace blog list item with common cell
  packages/core/src/components/blog/list-item.vue
  packages/core/src/components/cell.vue
  packages/core/src/pages/blog/[id]/index.vue
  packages/core/src/pages/blog/index.vue
Due: prettier --write

feat(cell): dynamic border for horizontal layout
  packages/core/src/components/cell.vue
  packages/core/src/pages/blog/index.vue
Due: prettier --write

feat: update style
  packages/core/src/pages/blog/[id]/index.vue
  packages/core/src/pages/resume.vue
Due: prettier --write

chore(deps): update typescript-eslint/parser and nuxt
  package.json
  packages/core/package.json
  pnpm-lock.yaml
Due: sort-package-json, prettier --write

refactor: rename blog header to front matter
  packages/core/src/components/blog/front-matter.vue
  packages/core/src/components/blog/header.vue
  packages/core/src/pages/blog/[id]/index.vue
Due: prettier --write

chore(actions): update docker build system
  .github/workflows/main.yml
Due: none

chore(docker): expose build args
  .github/workflows/main.yml
  docker/Dockerfile
Due: none

refactor: rename axis to layoutDirection
  packages/core/src/components/cell.vue
  packages/core/src/components/tile.vue
  packages/core/src/pages/blog/index.vue
Due: prettier --write

feat(tile): media and excerpt slots
  packages/core/src/components/tile.vue
  packages/core/src/pages/blog/index.vue
Due: prettier --write

refactor: replace project galery item with tile
  packages/core/src/components/resume/project-gallery-item.vue
  packages/core/src/components/resume/project-gallery.vue
Due: prettier --write

chore(deps): update package dependencies
  package.json
  packages/core/package.json
  pnpm-lock.yaml
Due: sort-package-json, prettier --write

chore: restructure vue markdown
  packages/core/src/components/markdown.vue
Due: prettier --write

feat: ssr without nuxt
  package.json
  packages/core/index.html
  packages/core/nuxt.config.ts
  packages/core/package.json
  packages/core/prerender.js
  packages/core/server.js
  packages/core/src/app.ts
  packages/core/src/app.vue
  packages/core/src/assets/styles/_preprocess.bootstrap.scss
  packages/core/src/assets/styles/bootstrap.scss
  packages/core/src/entry-client.ts
  packages/core/src/entry-server.ts
  packages/core/src/pages/resume.vue
  packages/core/src/router.ts
  packages/core/src/store/profile.ts
  packages/core/src/types/auto-imports.d.ts
  packages/core/src/types/components.d.ts
  packages/core/src/types/env.d.ts
  packages/core/src/types/shim-global.d.ts
  packages/core/src/utils/promise.ts
  packages/core/tsconfig.json
  packages/core/vite.config.ts
  pnpm-lock.yaml
Due: sort-package-json, prettier --write

chore: update tsconfig
  packages/core/tsconfig.json
Due: prettier --write

chore: move types to base url
  packages/core/src/types/components.d.ts
  packages/core/src/types/env.d.ts
  packages/core/types/app.d.ts
  packages/core/types/auto-imports.d.ts
  packages/core/types/components.d.ts
  packages/core/vite.config.ts
  pnpm-lock.yaml
Due: prettier --write

fix: manifest import assert error
  packages/core/server.js
Due: prettier --write

chore: update tsconfig
  packages/core/tsconfig.json
  packages/core/tsconfig.node.json
  packages/core/types/vite-env.d.ts
Due: prettier --write

refactor: restructure models
  packages/core/src/components/resume/exp-gallery.vue
  packages/core/src/components/resume/profile.vue
  packages/core/src/components/resume/project-gallery.vue
  packages/core/src/models/blog.ts
  packages/core/src/models/education.ts
  packages/core/src/models/experience.ts
  packages/core/src/models/identifiable.ts
  packages/core/src/models/index.ts
  packages/core/src/models/project.ts
  packages/core/src/models/resume.ts
  packages/core/src/models/skill.ts
  packages/core/src/models/sns.ts
  packages/core/src/models/user.ts
  packages/core/src/pages/resume.vue
  packages/core/src/utils/promise.ts
Due: prettier --write

feat: composable api service
  packages/core/src/composables/useApi.ts
Due: none

chore: split server into multiple file deps on env
  packages/core/package.json
  packages/core/server.dev.js
Due: sort-package-json, prettier --write

refactor: update server apis
  packages/core/src/server/api/_blog.ts
  packages/core/src/server/api/_resume.ts
  packages/core/src/server/api/blog/[id].ts
  packages/core/src/server/api/blog/index.ts
  packages/core/src/server/api/users/[id]/blog.ts
  packages/core/src/server/api/users/[id]/index.ts
  packages/core/src/server/api/users/[uid]/blog/index.ts
  packages/core/src/server/api/users/[uid]/index.ts
  packages/core/src/server/api/users/index.ts
Due: none

refactor: use pinia to store initialize data
  packages/core/src/pages/blog/[id]/index.vue
  packages/core/src/pages/blog/index.vue
  packages/core/src/pages/resume.vue
  packages/core/src/store/blog.ts
  packages/core/src/store/blogs.ts
  packages/core/src/store/profile.ts
Due: prettier --write

chore: update vite plugins settings
  packages/core/types/auto-imports.d.ts
  packages/core/types/vite-env.d.ts
  packages/core/vite.config.ts
Due: none

refactor: rename blogsStore to blogGalleryStore
  packages/core/src/pages/blog/[id]/index.vue
  packages/core/src/pages/blog/index.vue
  packages/core/src/store/blog-gallery.ts
Due: prettier --write

feat: make api store and utils folder actor as module
  packages/core/src/server/api/index.ts
  packages/core/src/store/blog.ts
  packages/core/src/store/index.ts
  packages/core/src/store/profile.ts
  packages/core/src/utils/firstOne.ts
  packages/core/src/utils/index.ts
Due: none

feat: catchall pure md file page
  packages/core/src/pages/static/[...all].vue
  packages/core/src/server/api/pure-md-file.ts
  packages/core/src/store/pure-md-file.ts
Due: prettier --write

fix: pretty print route path
  packages/core/src/pages/static/[...slug].vue
  packages/core/src/router.ts
  packages/core/types/auto-imports.d.ts
Due: prettier --write

chore(git): ignore auto generated files
  .gitignore
  packages/core/types/auto-imports.d.ts
  packages/core/types/components.d.ts
  packages/core/vite.config.ts
Due: none

chore: update routes generator
  packages/core/package.json
  packages/core/src/router.ts
  packages/core/src/utils/index.ts
  packages/core/src/utils/resolveApiUrl.ts
  packages/core/types/vite-env.d.ts
  packages/core/vite.config.ts
  pnpm-lock.yaml
Due: sort-package-json, prettier --write

feat: serve static file with express
  packages/core/server.dev.js
Due: prettier --write

refactor: replace anchor element with RouterLink
  packages/core/src/components/blog/front-matter.vue
  packages/core/src/components/resume/profile.vue
  packages/core/src/components/resume/project-gallery.vue
  packages/core/src/pages/blog/[id]/index.vue
  packages/core/src/pages/blog/index.vue
Due: prettier --write

chore(gitignore): ignore local env files
  .gitignore
Due: none
