Repository bitEliz/website: changes, and which lint-staged commands are due for each by the changed paths.
All: sort-package-json, prettier --write

feat: page transition and keepalive
  packages/core/src/app.vue
  packages/core/src/components/loading.vue
Due: prettier --write

refactor: rename env prefix
  .github/workflows/main.yml
  docker/Dockerfile
  docker/compose.yaml
  packages/core/.env
  packages/core/server.js
  packages/core/src/composables/useApi.ts
  packages/core/src/store/blog-gallery.ts
  packages/core/src/store/profile.ts
  packages/core/types/vite-env.d.ts
  packages/core/vite.config.ts
Due: prettier --write

fix: router error
  packages/core/src/components/resume/profile.vue
  packages/core/src/components/resume/project-gallery.vue
  packages/core/src/pages/resume.vue
Due: prettier --write

fix: file name error when build vue
  packages/core/src/components/markdown.vue
  packages/core/vite.config.ts
Due: prettier --write

refactor: url query items
  packages/core/src/composables/useApi.ts
  packages/core/src/server/api/blog/[id].ts
  packages/core/src/server/api/users/[id]/index.ts
Due: none

fix: vue markdown props error
  packages/core/src/components/markdown.vue
  packages/core/src/components/resume/profile.vue
Due: prettier --write

chore: update deps for prod build
  docker/Dockerfile
  docker/compose.yaml
  packages/core/package.json
  packages/core/server.dev.js
  packages/core/server.js
  pnpm-lock.yaml
Due: sort-package-json, prettier --write

fix(README): pm and script name error
  README.md
  docker/compose.yaml
Due: prettier --write

chore(deps): update eslint
  package.json
  pnpm-lock.yaml
Due: sort-package-json, prettier --write

fix(docker): missing server entry
  docker/Dockerfile
  docker/compose.yaml
Due: prettier --write

chore: clean console log
  packages/core/src/components/resume/profile.vue
Due: prettier --write

refactor: rename store state data property
  packages/core/src/pages/blog/[id]/index.vue
  packages/core/src/pages/blog/index.vue
  packages/core/src/pages/resume.vue
  packages/core/src/store/blog-gallery.ts
  packages/core/src/store/blog.ts
  packages/core/src/store/profile.ts
Due: prettier --write

feat: handle null result for http request
  packages/core/src/composables/useApi.ts
  packages/core/src/server/api/blog/[id].ts
  packages/core/src/server/api/blog/index.ts
  packages/core/src/server/api/pure-md-file.ts
  packages/core/src/server/api/users/[id]/blog.ts
  packages/core/src/server/api/users/[id]/index.ts
  packages/core/src/server/api/users/index.ts
  packages/core/src/store/blog-gallery.ts
  packages/core/src/store/blog.ts
  packages/core/src/store/profile.ts
Due: none

feat: error handling
  packages/core/server.dev.js
  packages/core/server.js
  packages/core/src/composables/useApi.ts
Due: prettier --write

fix: text request error
  packages/core/src/components/markdown.vue
  packages/core/src/pages/static/[...slug].vue
  packages/core/src/server/api/pure-md-file.ts
Due: prettier --write

chore: update deps to latest
  package.json
  packages/core/package.json
  pnpm-lock.yaml
Due: sort-package-json, prettier --write

chore: remove markdown and utils
  package.json
  packages/core/package.json
  packages/markdown/LICENSE
  packages/markdown/README.md
  packages/markdown/package.json
  packages/markdown/src/index.ts
  packages/markdown/src/markdown.ts
  packages/markdown/src/plugins.ts
  packages/markdown/src/plugins/anchorPlugin.ts
  packages/markdown/src/plugins/assetsPlugin/assetsPlugin.ts
  packages/markdown/src/plugins/assetsPlugin/resolveLink.ts
  packages/markdown/src/plugins/codePlugin/codePlugin.ts
  packages/markdown/src/plugins/codePlugin/languages.ts
  packages/markdown/src/plugins/codePlugin/resolveHighlightLines.ts
  packages/markdown/src/plugins/codePlugin/resolveLanguage.ts
  packages/markdown/src/plugins/codePlugin/resolveLineNumbers.ts
  packages/markdown/src/plugins/codePlugin/resolveVPre.ts
  packages/markdown/src/plugins/emojiPlugin.ts
  packages/markdown/src/plugins/importCodePlugin/createImportCodeBlockRule.ts
  packages/markdown/src/plugins/importCodePlugin/importCodePlugin.ts
  packages/markdown/src/plugins/importCodePlugin/resolveImportCode.ts
  packages/markdown/src/plugins/importCodePlugin/types.ts
  packages/markdown/src/plugins/linksPlugin/linksPlugin.ts
  packages/markdown/src/plugins/linksPlugin/resolvePaths.ts
  packages/markdown/src/types.ts
  packages/markdown/tsconfig.json
  packages/utils/README.md
  packages/utils/package.json
  packages/utils/src/index.ts
  packages/utils/src/isLinkExternal.ts
  packages/utils/src/isLinkFtp.ts
  packages/utils/src/isLinkHttp.ts
  packages/utils/src/removeLeadingSlash.ts
  packages/utils/tsconfig.json
  pnpm-lock.yaml
Due: sort-package-json, prettier --write

chore: remove .npmrc
  .npmrc
  docker/Dockerfile
Due: none

chore(deps): update deps to latest version
  package.json
  packages/core/package.json
  pnpm-lock.yaml
Due: sort-package-json, prettier --write

fix(README): service name error for docker example
  README.md
Due: prettier --write

chore(deps): update outdated dependencies
  package.json
  packages/core/package.json
  pnpm-lock.yaml
Due: sort-package-json, prettier --write

fix: docker build
  .github/workflows/docker.yml
  docker/Dockerfile
  docker/compose.yaml
Due: prettier --write

fix: 500 error when resolve assets dir contents
  packages/core/nuxt.config.ts
  packages/core/src/app.vue
Due: prettier --write

refactor: move data serializing into server api
  packages/core/src/pages/resume.vue
  packages/core/src/server/api/resume.ts
Due: prettier --write

refactor: api base url
  packages/core/.env
  packages/core/nuxt.config.ts
  packages/core/src/server/api/blog/[id].ts
  packages/core/src/server/api/blog/index.ts
  packages/core/src/server/api/pure-md-file.ts
  packages/core/src/server/api/resume.ts
  packages/core/src/server/api/users/[id]/blog.ts
  packages/core/src/server/api/users/[id]/index.ts
  packages/core/src/server/api/users/index.ts
  packages/core/src/utils/dark-mode.ts
  packages/core/src/utils/index.ts
Due: none

refactor: resolve metadata with docker/metadata-action
  .github/workflows/docker.yml
  .github/workflows/main.yml
Due: none

refactor: replace routerlink with nuxtlink
  packages/core/src/pages/blog/index.vue
Due: prettier --write

chore: update document title
  packages/core/src/server/api/resume.ts
Due: none

chore: upgrade outdated deps
  package.json
  packages/core/package.json
  pnpm-lock.yaml
Due: sort-package-json, prettier --write

chore: bump typescript from 4.9.5 to 5.0.2
  package.json
  pnpm-lock.yaml
Due: sort-package-json, prettier --write

fix: revert nuxt from 3.3 to 3.2
  packages/core/package.json
  pnpm-lock.yaml
Due: sort-package-json, prettier --write

Path conditions:
  sort-package-json: any of: package.json
  prettier --write: any of: *.{js,vue,json,yaml,scss,md}
